body
{
	margin: auto;
	width: 50%;
	background-color: #AD92F1;
}

header
{
	width: 100%;
	background-color: #D3F4FF;
	color: #000000;
	text-align: center;
	font-size: 100%;
	padding: 1.5em;
	margin-bottom: 0.5em;
	background-image:URL("logo.jpg"); 
}
h1
{ 
text-align: center;
color:#000000;
}
	

h2
{
   color: ##000000;
   text-align: center;
   }

section {
	width: 68%;
	font-size: 100%;
	background-color: #FFFFFF;
	float: left;
	color: #000000;
	padding: 1em;
}


nav
{ 
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #800080;
   background-color: #CBC7D6;
   width: 20%;
   margin-right: 1em;
   padding-left: 1em;
   float: left;
  
}


	
footer {
	text-align: right;
    color: #fff;
    background-color: #FFFFFF;
    width: 100%;
    clear: both;
    margin-top: 2em;
}
